html, body {
  font-family: "Courier New", Courier, monospace;
  height: 100%;
  margin: 0;
  width: 100%;
}

div {
  font-family: "Courier New", Courier, monospace;
  padding-right: 30px;
  width: 100%;
}

.container {
  font-family: "Courier New", Courier, monospace;
  display: flex;

}

.main {
  font-family: "Courier New", Courier, monospace;
  padding-left: 30px;
}

.nav {
  font-family: "Courier New", Courier, monospace;
  background-color: #585f7a;
  width: 160px;
}

h1 {
  font-size: 48px;
}

#mainmenu {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  color: white;
  border: 1px solid white;
  margin: 2px;
  text-align: center;
  background-color: #585f7a;
  float:left;
}

#temple {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  color: white;
  border: 1px solid white;
  margin-left: 20px;
  margin-top: 2px;
  text-align: center;
  background-color: #585f7a;
  float:left;
  overflow:hidden;
}

#temple:active {
  top:2px;
}

#templedesc {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  color: white;
  border: 1px solid white;
  margin-left: 20px;
  margin-top: 2px;
  text-align: center;
  background-color: #585f7a;
  float:left;
  overflow:hidden;
}

#templedesc:active {
  top:2px;
}

#furnace {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  color: white;
  border: 1px solid white;
  margin-left: 20px;
  margin-top: 2px;
  text-align: center;
  background-color: #585f7a;
  float:left;
  overflow:hidden;
}

#furnace:active {
  top:2px;
}

#furnacedesc {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  color: white;
  border: 1px solid white;
  margin-left: 20px;
  margin-top: 2px;
  text-align: center;
  background-color: #585f7a;
  float:left;
  overflow:hidden;
}

#furnacedesc:active {
  top:2px;
}

#mainmenu button:active {
  top: 2px;
}

#building {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  color: white;
  border: 1px solid white;
  margin: 2px;
  text-align: center;
  background-color: #585f7a;
  float:left;
}

#building button:active {
  top: 2px;
}

#desc {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  color: black;
  margin: 2px;
  text-align: center;
  background-color: white;
  float:left;
}

#price {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  color: #5a8091;
  margin: 2px;
  text-align: center;
  background-color: white;
  float: left;
}

#prestige {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  color: #4db391;
  border: 1px solid black;
  margin: 2px;
  text-align: center;
  float:left;
}

#cultists {
  color: #962eff;
}

#cultistInfo {
  background-color: #585f7a;
  border: 1px solid black;
  color: white;
}

#praise {
  color: #bdbf28;
}

#changelog {
  left:25px;
}

#praiseTrans {
  font-size: 1.25rem;
  background-color: #f9fc35;
  color: black;
  border: 1px solid #bdbf28;
  margin-left: 20px;
  margin-top: 2px;
  text-align: center;
}

#p2wCreate {
  font-size: 1.25rem;
  background-color: #e8c974;
  color: black;
  border: 1px solid #7d5e09;
  margin-left: 20px;
  margin-top: 2px;
  text-align: center;
}

#p2sCreate {
  font-size: 1.25rem;
  background-color: #b5b5b5;
  color: black;
  border: 1px solid #707070;
  margin-left: 20px;
  margin-top: 2px;
  text-align: center;
}

.nav h1 {
  font-family: "Courier New", Courier, monospace;
  padding-left: 20px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: inherit;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: white;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Create an active/current tablink class */
.tab button.active {
  border-bottom: none;
  color: white;
  background-color: #585f7a;
}

/* Style the tab content */
.tabcontent {
 display: none;
}

.tooltip-wrap {
  position: relative;
}
.tooltip-wrap .tooltip-content {
  overflow:hidden;
  display: none;
  position: absolute;
  left: 10%;
  right: 10%;
  font-style: italic;
}
.tooltip-wrap:hover .tooltip-content {
  background-size: contain;
  overflow:hidden;
  display: block;
}
